
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
         <title> Демонстрация загрузки колбы </ title>
</head>
<body>
         <h1> Используйте Flask для загрузки локальных картинок и отображения одного примера </ h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" style="margin-top:20px;"/>
        <br>
                 <Я> Пожалуйста, введите ваше текущее настроение (счастлив, супер счастлив, супер супер счастлив): </ I>
                 <input type = "text" class = "txt_input" name = "name" value = "   " style = "margin-top: 10px;" />
                 <input type = "submit" value = "Загрузить" class = "button-new" style = "margin-top: 15px;" />
    </form>
         <h1> Ваше настроение: {{userinput}}! </ h1>
         <img src = "{{url_for ('static', filename = './images/test.jpg')}}" width = "400" height = "400" alt = "Ваша фотография была похищена инопланетянами ~~ "/>
</body>
